<!-- -------------------------------------------------------------------------------- -->
<!-- Author       : Bas Smulders                                                        -->
<!-- Date created : 14 Dec 2016                                                       -->
<!-- -------------------------------------------------------------------------------- -->
<div>
  <div class="div-input-text">
    <label class="control-input text" for="testTemplateListLanguage">Programming Language</label>
    <select class="control-input input-text" id="testTemplateListLanguage" (change)="updateLanguage($event)" >
      <option *ngFor='let lang of languages' value='{{ lang.id }}' >{{ lang.name }}</option> 
    </select>
  </div>

</div>

<div *ngIf="testTemplateList">
  <form>
    <legend>Available Tests</legend>
    <table style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Programming language</th>
          <th>For exam</th>
          <th>Nr of questions</th>
          <th>Time allowed (min)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tt of testTemplateList">
          <td class="div-table-text">
            <div><label class="control-input text">{{ tt.name }}</label></div>
          </td>
          <td class="div-table-text">
            <div><label class="control-input text">{{ getEnumLanguages(tt.programmingLanguage) }}</label></div>
          </td>
          <td class="div-table-text">
            <div><label class="control-input text">{{ getEnumExams(tt.forExam) }}</label></div>
          </td>
          <td class="div-table-text">
            <div><label class="control-input text">{{ tt.size }}</label></div>
          </td>
          <td class="div-table-text">
            <div><label class="control-input text">{{ tt.attemptTimeInMinutes }}</label></div>
          </td>
          <!--         
          <td class="div-input-text3">
            <div class="marcel"><input type="text" value="{{ tt.name }}"></div>
          </td>
          <td class="div-input-text3">
            <div class="marcel"><input type="text" value="{{ getEnumLanguages(tt.programmingLanguage) }}"></div>
          </td>
          <td class="div-input-text3">
            <div class="marcel"><input type="text" value="{{ getEnumExams(tt.forExam) }}"></div>
          </td>
          <td class="div-input-text3">
            <div class="marcel"><input type="text" value="{{ tt.size }}"></div>
          </td>
          <td class="div-input-text3">
            <div class="marcel"><input type="text" value="{{ tt.attemptTimeInMinutes }}"></div>
          </td>        
           -->
          <td *ngIf="getStudentId() > 0" class="div-table-text">
            <label class="button" id="takeTest">Take test<input type="button" (click)="goToPreAttempt(tt.id)" style="display:none"/></label>
          </td>
          <td *ngIf="getInstructorId() > 0" class="div-table-text">
            <label class="button" id="editTest">Edit test<input type="button" (click)="editTestTemplate(tt.id)" style="display:none"/></label>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>


