<div *ngIf='currentAttemptID'>  
    <h1>attempt id: {{currentAttemptID}}</h1>
  
 
    <div *ngIf='question'>
        <h3> QuestionNR: {{currentQuestionNR}}</h3>
        <div>question text: {{question.question}}    </div>

    <label class="control-input text" for="questionanswers">Answers</label><br>
    <table>
      <tr  *ngFor='let answer of question.possibleAnswers; let i = index;' class="answers" >
        <td> 
          ​<input class="answers" type="text" disabled value="{{ toCharLetter(i+1) }}">
        </td>
        <td>
          <input class="answers" type="checkbox" (change)="updateGivenAnswer(i, $event)" >
        </td>
        <td class="answers">
          <textarea id="answer{{ i }}"  value="{{ question.possibleAnswers[i] }}" ></textarea><br>
        </td>
        <!--<td>
          <label class="button" id="removeAnswer">Remove Answer<input type="button" (click)="removeAnswer(i)" ><br>
        </td>-->
      </tr>
    </table>
    </div>
    
    <label class="button" id="prevQuestion">Previous Question
      <input type="button" (click)="goPrevQuestion()" style="display:none" />
    </label>
    <label class="button" id="nextQuestion">Next Question
      <input type="button" (click)="goNextQuestion()" style="display:none" />
    </label>
    <label class="button" id="overview">Exam Review
      <input type="button" (click)="goPostExam()" style="display:none" />
    </label>
</div>  


