
<div> 
  <h1 >  Attempt id: {{visibleId}} </h1>
  <p> </p>
  <div *ngIf="scoresRate > -1">
    <label class="label.text text"> Your total percentage is: {{(scoresRate*100).toFixed(1)}} % </label>
  </div>
  <p> </p>
  <div>
    <table>
      <tr> 
        <th>
            questions:
        </th>
        <th>
            your answer(s):
        </th>  
        <th>
            answer(s) if NOK:
        </th>    
      </tr>
      <tr *ngFor="let element of scoresList; let i = index;" >
         <td class="{{ element ? 'correct':'incorrect'}}">
           <li> 
             Question {{ i + 1 }}
            </li>
         </td>
         <td > {{ givenAnswers[i] }} </td>
        <td *ngIf="!element"> {{ correctAnswers[i] }} </td> 
      </tr>
    </table>
  </div>
  <p> </p>
  <button>Ready</button>
</div>
