<div *ngIf='currentAttemptID'>  
  <h1>I'm an attempt, nr. {{currentAttemptID}}</h1>
  
   <div class="div-input-text">
    <div class="divHalf1">
      <label class="control-input text" for="trala">trala</label><br> 
      ​<textarea class="control-input input-text" id="trala" placeholder="Question" value="{{ trala }}" (change)="updatetrala($event)" ></textarea>
    </div>
    
  </div>  
<div *ngIf='question'>
    <h2> Question {{currentQuestionNR}}</h2>
    <div>question text: {{question.question}}    </div>
</div>
</div>  


