<div *ngIf="question">
  id = {{ question.id }}<br>
  question = {{ question.question }}<br>
  explantionAnswer = {{ question.explantionAnswer }}
</div>
<div>
  Scroll through list of Questions:<br>
  <input type="number" (change)="changeId($event)">
</div>
<div *ngIf="question">
  <form>
    <legend>Add Question</legend>

    <div class="div-input-text">
      <label class="control-input text" for="questionname">Question name</label>
      <input class="control-input input-text" type="text" id="questionname" placeholder="Name" value="{{ question.name }}"><br>
    </div>

    <div class="div-input-text">
      <label class="control-input text" for="questionlanguage">Programming Language</label>
      <input class="control-input input-text" type="text" id="questionlanguage" placeholder="Language" value="{{ question.programmingLanguage }}" ><br>
    </div>

    <div class="div-input-text">
      <label class="control-input text" for="questionexam">For Exxam</label>
      <input class="control-input input-text" type="text" id="questionaxam" placeholder="Exam" value="{{ question.forExam }}" ><br>
    </div>

    <div class="div-input-text">
      <label class="control-input text" for="question">Question</label><br>
      ​<textarea class="control-input input-text" id="question" placeholder="Question">{{ question.question }}</textarea>
    </div>

  </form>
</div>