<!-- -------------------------------------------------------------------------------- -->
<!-- Author       : FaerieRose                                                        -->
<!-- Date created : 10 Nov 2016                                                       -->
<!-- -------------------------------------------------------------------------------- -->
<div>
  Scroll through list of Questions: 
  <input type="number" value=1 (change)="changeId($event)">
</div>
<div *ngIf='question'>
  <form>
    <legend>Add Question</legend>

    <div class="div-input-text">
      <label class="control-input text" for="questionname">Question name</label>
      <input class="control-input input-text" type="text" id="questionname" placeholder="Name" value="{{ question.name }}"><br>
    </div>

    <div class="div-input-text">
      <label class="control-input text" for="questionlanguage">Programming Language</label>
      <select class="control-input input-text" (change)="updateLanguage($event)" >
        <option *ngFor='let lang of languages' id="questionlanguage" value='{{ lang.id }}' [selected]="lang.id == question.programmingLanguage" >{{ lang.name }}</option> 
      </select>
    </div>

    <div class="div-input-text">
      <label class="control-input text" for="questionexam">For Exam</label>
      <select  class="control-input input-text" (change)="updateExam($event)">
        <option *ngFor='let exam of exams' id="questionexam" value='{{ exam.id }}' [selected]="exam.id == question.forExam">{{ exam.name }}</option> 
      </select>
    </div>

    <div class="div-input-text">
      <label class="control-input text" for="question">Question</label><br> 
      ​<textarea class="control-input input-text" id="question" placeholder="Question">{{ question.question }}</textarea>
    </div> 

  </form>
  <question-display [q]="question.question"></question-display>
</div>