/* ----------------------------------------------------------------------------------- */
/* Author       : FaerieRose                                                           */
/* Date created : 10 Nov 2016                                                          */
/* ----------------------------------------------------------------------------------- */
/* Layout input text fields                                                            */
.div-input-text {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-radius: 1vh;
  background-color: #E1F1FE;
  text-align: justify;
  width: 100%;
  margin-top: 0.5vh;
  padding: 0.5vh 1em 0.5vh 1em;  /* top right botton left */
}

#divSave {
  text-align: right;
}

.control-input {
  margin: 0px;
  padding: 0px 0px 0px 1em;      /* top right botton left */
}

.input-text {
  border: 0px;
  border-radius: 1vh;
}

label.text {
  color: #23639E;
  position: relative;
  width: 35%;
}

select.input-text, input.input-text {
  width: 63%;
}

.formattedQuestion {
  display: inline-block;
}

textarea.input-text {
  width: 100%;
  overflow-y: auto;
}

textarea#question {
  height: 20em;
}

textarea#questionexplanation {
  height: 5em;
}

.pQuestion {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#777;
}


/* ----------------------------------------------------------------------------------- */
/* Layout answers                                                                      */
div.answers {
  display: block;
  height: 6vh;
  width: 100%;
  margin-top: 0.5vh;
  position: relative;
}

td.answers {
  width: 80vw;
}

textarea.answers {
  display: inline-block;
  height: 6vh;
  width: 100%;
}

input.answers {
  display: inline-block;
  font-size: 3vh;
  height: 3vh;
  width: 3vh;
  padding: 0;
  margin: 1.5vh 0.5vh 1.5vh 0.5vh;     /* top right botton left */
  border-width: 0;
  background-color: #E1F1FE;
}

/* ----------------------------------------------------------------------------------- */
/* Layout input buttons                                                                */
label.button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 1vh;
  background-color: #23639E;
  box-shadow: 2px 2px 1px cornflowerblue;
  color: #fff;
  margin-top: 0.5vh;
  padding: 0 2em 0 2em;
}
