<!-- -------------------------------------------------------------------------------- -->
<!-- Author       : Bas Smulders                                                      -->
<!-- Date created : 8 Dec 2016                                                        -->
<!-- -------------------------------------------------------------------------------- -->
<div *ngIf='question'>
  <legend>{{ question.id }}. {{ question.name }}</legend>

  <div class="div-input-text">
    <label class="control-input text" for="questiontype">Type of Question</label>
    <label class="control-input text" type="text" id="questiontype" placeholder="Type">{{ question.typeOfQuestion }}</label><br>
  </div>

  <div class="div-input-text">
    <div class="formattedQuestion">
      <question-display [question]="question.question"></question-display>
    </div>
  </div>

  <div class="div-input-text">
    <label class="control-input text" for="questionanswers">Select the correct answer(s):</label><br>
    <table>
      <tr  *ngFor='let answer of possibleAnswers; let i = index;' class="answers" >
        <td> 
          ​<input class="answers" type="text" disabled value="{{ i+1 }}">
        </td>
        <td>
          <input class="answers" type="checkbox" [checked]="correctAnswers.answers[i]" (change)="updateCorrectAnswer(i, $event)" >
        </td>
        <td class="answers">
          <textarea class="control-input input-text answers" id="answer{{ i }}" disabled value="{{ answer }}" ></textarea><br>
        </td>
      </tr>
    </table>
    <label class="button" id="submitAnswer">Submit Answer
      <input type="button" (click)="submitAnswer()" style="display:none" />
    </label>
  </div>

</div>