<!-- -------------------------------------------------------------------------------- -->
<!-- Author       : Bas Smulders                                                      -->
<!-- Date created : 16 Dec 2016                                                        -->
<!-- -------------------------------------------------------------------------------- -->
<div *ngIf='testtemplate'>
  <legend></legend>

  <div class="div-input-text">
    <label class="control-input text" for="testtemplate-name">Title of test</label>
    <label class="control-input text" type="text" id="testtemplate-name" placeholder="Type">{{ testtemplate.name }}</label><br>
  </div>

  <label *ngIf='question.id > 1' class="button" id="previousQuestion">Previous Question
    <input type="button" (click)="gotoPreviousQuestion()" style="display:none" />
  </label>
</div>