<h1 >  Review page for student</h1>
<div *ngIf="currentStudent" > 
  <table>
      <tr  *ngFor='let attempt of currentStudentAttempts; let i = index;' class="attempts" >
        <td> 
          ​<input type="text" disabled value="{{ attempt.testTemplate.name }}">
        </td>
        <td>
          <input type="text" value="{{ attemptStartDates[i] }}" >
        </td>
        <td>
          <input value="{{ attemptLanguages[i] }}" ><br>
        </td>
        <td>
          <input value="{{ currentStudentScores[i] }}" ><br>
        </td>
        <!--<td>
          <label class="button" id="removeAnswer">Remove Answer<input type="button" (click)="removeAnswer(i)" ><br>
        </td>-->
      </tr>
    </table>
    <input type="button" (click)="goBack()" style="display:none" />

</div>