<div> 
   
  <h1 >  Student login 3/16 </h1>
  <p> </p>
  <div >
    <label class="label.text text"> Check if old exam was still continuing </label>
    <label>( </label>
    <label class="button" id="continue"ng-disabled="isDisabled" ng-model="isDisabled" >Continue<input type="button" (click)="studentContinueAttempt(student_id)" style="display:none" clicked-disable /></label>
    <label class="label.text text">) else</label>
  </div>
  <p> </p>
  <div >
    <label class="button" >NewExam<input type="button" (click)="studentNewAttempt(student_id)" style="display:none"/></label>
  </div>
  <p> </p>
  <div >
    <label class="buttondisbled" id="review">Review<input type="button" (click)="studentReviewAttempt(student_id)" style="display:none"/></label>
  </div>
  <p> </p>
  <div >
    <label class="label.text text"> Check if instructor Rights exists </label>
    <label>( </label>
    <label class="buttondisbled" id="instrucotr">Become Instructor<input type="button" (click)="studentContinueAttempt(student_id)" style="display:none"/></label>
    <label class="label.text text">)</label>
  </div>
  <p> </p>
  <p> </p>
   <div >
    <label class="button" >Log Out<input type="button" (click)="studentLogOut(student_id)" style="display:none"/></label>
  </div>
  <p> </p>
</div>