<div> 
   
  <h1 >  Student login 3/16 </h1>
  <p> </p>
  <div >
    <label class="label.text text"> Check if old exam was still continuing </label>
    <label>( </label>
    <label class="button" id="editTest">Continue<input type="button" (click)="studentContinueAttempt(id)" style="display:none"/></label>
    <label class="label.text text">) else</label>
  </div>
  <p> </p>
  <div >
    <label class="button" id="editTest">NewExam<input type="button" (click)="studentNewAttempt(id)" style="display:none"/></label>
  </div>
  <p> </p>
  <div >
    <label class="button" id="editTest">Review<input type="button" (click)="studentReviewAttempt(id)" style="display:none"/></label>
  </div>
  <p> </p>
  <div >
    <label class="label.text text"> Check if instructor Rights exists </label>
    <label>( </label>
    <label class="button" id="editTest">Become Instructor<input type="button" (click)="studentContinueAttempt(id)" style="display:none"/></label>
    <label class="label.text text">)</label>
  </div>
  <p> </p>
  <p> </p>
   <div >
    <label class="button" id="editTest">Log Out<input type="button" (click)="studentLogOut(id)" style="display:none"/></label>
  </div>
  <p> </p>
</div>