<div> 
  <h1>Exam review</h1>
    <p>Here you can review your exam before finalising it.</p>
    <p> </p>
    <p>Click 'Finish' to end the exam and calculate your final score.<br>
    <strong>NOTE: onze you click 'Finish' you can no longer make any changes!</strong></p>
   <div >
    <label class="button" >Finish<input type="button" (click)="studentFinishAttempt()" style="display:none"/></label>
  </div>
  <p> </p>
  <p>To go back to the question where you just were click:</p>
   <div >
    <label class="button" >Back / Continue<input type="button" (click)="returnToLastKnownPosition()" style="display:none"/></label>
  </div>
  <p> </p>
  <div >
    <label class="label.text text"> Your questions with incorrect selected number of choices are: </label>
  </div>
  <p> </p>
  <table>
    <tr *ngFor="let element of reviewIncorrectChoices" >
      <td>
        <label class="button"> Question  {{element}} <input type="button" (click)="returnToQuestion(element)" style="display:none"/></label> 
      </td>
    </tr>
  </table>
  <p> </p>
  <div >
    <label class="label.text text"> Your marked questions are: </label>
  </div>
  <p> </p>
  <table>
   <tr *ngFor="let element of markedQuestions">
    <td>
      <label class="button">  Question  {{element+1}} <input type="button" (click)="returnToQuestion(element)" style="display:none"/></label>  
    </td>
   </tr>
  </table>
</div>