<!-- -------------------------------------------------------------------------------- -->
<!-- Author       : FaerieRose                                                        -->
<!-- Date created : 10 Nov 2016                                                       -->
<!-- -------------------------------------------------------------------------------- -->
<div *ngIf='instructorList'>
  <form>
    <div class="div-input-text">
      <label class="control-input text" for="instructorname">Select Instructor for class</label>
      <select class="control-input input-text" (change)="updateInstructor($event)">
      <option *ngFor="let instr of instructorList"  id="instructorname" value='{{ instr.id }}'  [selected]="instr.id == instructorList.firstname" >{{ instr.firstName }}</option> 
    </select>
    </div>

    <div class="div-input-text" *ngIf='studentClassList'>
      <label class="control-input text" for="studentclassname">Select Class for Instructor to teach</label>
      <select class="control-input input-text" (change)="updateStudentClass($event)">
        <option *ngFor="let studcl of studentClassList"  id="studentclassname" value='{{ studcl.id }}' [selected]="studcl.id == studentClassList.name" >{{ studcl.name }}</option> 
      </select>
    </div>

    <div class="div-input-text" id="divSave">
      <label class="button" id="saveInstructorToClass">Save 
        <input type="button" (click)="saveInstructorToClass()" style="display:none"  VALUE="Refresh"/>
      </label>
    </div>
  </form>
</div>

<legend>Instructor With Their Classes</legend>
<table style="width:100%">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Classes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instr of instructorList; let i = index;">
      <td class="div-input-text3">
        <div class="marcel">{{ instr.firstName }}</div>
      </td>
      <td class="div-input-text3">
        <div class="marcel">{{ instr.lastName }}</div>
      </td>
      <td class="div-input-text3">
        <ul style="list-style-type:none">
          <li class="deze" *ngFor="let cls of instr.studentClasses"><div class="marcel">{{ cls.name }}
            </div> 
            </li>
        </ul>
      </td>
       <td class="div-input-text3">
          <ul style="list-style-type:none">
            <li *ngFor="let cls of instr.studentClasses">
              <label class="button" id="removeClass">Remove<input type="button"  (click)="removeInstructorFromClass(instr.id, cls.id)" style="display:none"/>  </label>
            </li>
          </ul>
        </td>
    </tr>
  </tbody>
</table>