<!--<input type="text" value="{{ instructor.firstName }}" >
<input type="text" value="{{ instructor.lastName }}" >
<input type="text" value="{{ instructor.email }}" >
<input type="text" value="{{ instructor.id }}" >
<input type="text" value="{{ instructor.valid }}" >



<div>
  Scroll through list of Instructors: 
  <input type="number" value=1 (change)="changeId($event)">
</div>
-->
<div *ngIf='instructor'>
  <form>
    <legend>Add New instructor</legend>



    <div class="div-input-text">
      <label class="control-input text" for="instructorfirstname">First Name</label>
      <input class="control-input input-text" type="text" id="instructorfirstname" placeholder="First Name" (change)="updateFirstName($event)"><br>
    </div>
    <div class="div-input-text">
      <label class="control-input text" for="instructorlastname">Last Name</label>
      <input class="control-input input-text" type="text" id="instructorfirstname" placeholder="Last Name" (change)="updateLastName($event)"><br>
    </div>
    <div class="div-input-text">
      <label class="control-input text" for="instructoremail">Email address</label>
      <input class="control-input input-text" type="text" id="instructoremail" placeholder="Email" (change)="updateEmail($event)"><br>
    </div>
    <!--<div class="div-input-text">
      <label class="control-input text" for="instructorid">Instructor ID</label>
      <input class="control-input input-text" type="text" id="instructorid" placeholder="id" (change)="updateID($event)"><br>
    </div>
    <div class="div-input-text">
      <label class="control-input text" for="instructorvalid">Instructor Is Valid</label>
      <input class="control-input input-text" type="checkbox" id="instructorvalid"  (change)="updatevalid($event)"><br>
    </div>-->
        <label class="button" id="saveInstructor">Save
      <input type="button" (click)="saveInstructor()" style="display:none"/>
    </label>
  </form>
</div>


<div *ngIf='instructor' id="instructorlist">
    <!--<form>-->
      <legend>Instructor overview</legend>
      <input type="number" value=1 (change)="changeId($event)">
      Instructor ID = {{ instructor }}
     <!--<table>
        <tr>
          <td> <input type="text" value="{{ instructor.lastName }}" ></td>
          <td><input type="text" value="{{ instructor.email }}" ></td>
          <td><input type="text" value="{{ instructor.id }}" ></td>
          <td><input type="text" value="{{ instructor.valid }}" ></td>
        </tr>
     </table>-->

    <!--</form>-->
    <label class="button" id="saveInstructor">
      <input type="button" (click)="showAllInstructors()" value="Click me!!"/>
    </label>
</div>


<div *ngIf="instructorList">
  <ul>
    <li *ngFor="let instr of instructorList">{{ instr.id }} - {{ instr.name }}</li>
  </ul>
</div>



   