
    <legend>Instructor pagina</legend>

   
    <label class="button" id="overview">Overview
      <input type="button" (click)="goToOverview()" style="display:none"/>
    </label>
    <label class="button" id="createExam">Create Exam
      <input type="button" (click)="goToCreateExam()" style="display:none"/>
    </label>
 <label class="button" id="createUsers">Create Users
      <input type="button" (click)="goToCreateUsers()" style="display:none"/>
    </label>
 <label class="button" id="backToLogin">Login as different user
      <input type="button" (click)="goToLogin()" style="display:none"/>
    </label>

