<!--/* ------------------------------------------------------------------------------- */
/* Author       : Rik & Rémond                                                         */
/* Date created : 15 Dec 2016                                                          */
/* ----------------------------------------------------------------------------------- */-->
<div *ngIf='testTemplate'>

<legend>Add New Test</legend>

<div class="div-input-text">
  <label class="control-input text" for="testtemplatename">Name Of The Test</label>
  <input class="control-input input-text" type="text" id="testtemplatename" placeholder="Name" (change)="updateTestName($event)"><br>
</div>

<div class="div-input-text">
  <label class="control-input text" for="testtemplatename">Number Of Minutes To Complete The Test</label>
  <input class="control-input input-text" type="number" id="attempttimeinminutes" placeholder="Time in Minutes" (change)="updateDuration($event)"><br>
</div>

<legend>Select Program Language And Type Of Exam</legend>
<div>
  <div class="div-input-text">
    <label class="control-input text" for="testTemplateListLanguage">Select Programming Language For Exam</label>
    <select class="control-input input-text" id="testTemplateListLanguage" (change)="updateLanguage($event)">
      <option *ngFor='let lang of languages' value='{{ lang.id }}' >{{ lang.name }}</option> 
    </select>
  </div>
</div>

<div class="div-input-text">
  <label class="control-input text" for="questionexam">For Exam</label>
  <select class="control-input input-text" id="questionexam" (change)="updateExam($event)">
      <option *ngFor='let exam of exams' value='{{ exam.id }}' >{{ exam.name }}</option> 
    </select>
</div>

<div *ngIf='includeInTest'>
<div *ngIf='questionList.length == includeInTest.length' id="questionList" class="answers">
  <form>
    <legend>Select Questions For The New Test</legend>
    <table style="width:100%">
<thead>
  <tr>
    <th>ID</th>
    <th>Question</th>
    <th>Already Used In A Test</th>
    <th>Add Question</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let quest of questionList; let i = index;">
    <td class="div-input-text3">
      <div class="marcel"><input type="text" value="{{ quest.id }}"></div>
    </td>
    <td class="div-input-text3">
      <div class="marcel"><input type="text" value="{{ quest.name }}"></div>
    </td>
    <td class="div-input-text3"><input type="checkbox" /></td>
    <!--<td class="div-input-text3"><label class="button" id="addQuestionToExam">Add To Test<input type="button" style="display:none"/></label></td>-->
    <td class="div-input-text3"><input type="checkbox" [(ngModel)]="includeInTest[i]" name="pietjepuk" /></td>

  </tr>
</tbody>
</table>
<label class="button" id="saveTestTemplate">Save
      <input type="button" (click)="saveTest()" style="display:none"/>
</label>
</form>
</div>
</div>
</div>